body {
    background-image: url("fundoimagem.jpg");
    background-size: cover;
    background-repeat: repeat;
    
}

ul {
    display: flex;
    list-style-type: none;
    overflow: hidden;
    background-color: black;
    justify-content: space-around;
    flex-direction: row;
  }
  
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px ;
    font-family: sans-serif;
  }
  
  li a:hover {
    background-color: grey;
  }

.active {
    background-color: #04AA6D;
}

#divBusca {
  display: flex;
  align-items: center;
  padding: 14px 16px;
}

#sobreMim {
  color: white;
  font-family: sans-serif;
}

#autoBiografia {
  color:white;
  font-size: 20px;
  font-family: sans-serif;
}

#nome {
  color:white;
  text-align: center;
  font-family: sans-serif;
}

#imagem {
    float: left;
    margin: 0;
}


FONT {
  font-family: sans-serif;
}

#form {
  display: flex;
  flex-direction:column;
}





