body {
    background-image: url("https://img.freepik.com/fotos-gratis/imagem-de-papel-de-parede-de-fundo-abstrato-preto_53876-110775.jpg?w=1380&t=st=1728671878~exp=1728672478~hmac=ec5403c93a883ea1581664c4f3638cf706b506c7c9f3467067e11b9ed17d5c56");
    background-size: cover;
    background-repeat: repeat;
    
}

ul {
    display: flex;
    list-style-type: none;
    overflow: hidden;
    background-color: black;
    justify-content: space-around;
    flex-direction: row;
  }
  
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px ;
    font-family: sans-serif;
  }
  
  li a:hover {
    background-color: grey;
  }

.active {
    background-color: #04AA6D;
}

#divBusca {
  display: flex;
  align-items: center;
  padding: 14px 16px;
}

#sobreMim {
  color: white;
  font-family: sans-serif;
}

#autoBiografia {
  color:white;
  font-size: 20px;
  font-family: sans-serif;
}

#nome {
  color:white;
  text-align: center;
  font-family: sans-serif;
}

FONT {
  font-family: sans-serif;
}





