body {
    background-image: url("fundoimagem.jpg");
    background-size: cover;
    background-repeat: repeat;
    
}

ul {
    display: flex;
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    justify-content: space-around;
    flex-direction: row;
  }
  
  
  li a {
    display: block;
    color: #e6e3e3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px ;
    font-family: 'Roboto', sans-serif;
  }
  
  li a:hover {
    background-color: grey;
  }

.active {
    background-color: #04AA6D;
}

#divBusca {
  display: flex;
  align-items: center;
  padding: 14px 16px;
}

#sobreMim {
  color: #e6e3e3;
  font-family: 'Roboto', sans-serif;
}

#autoBiografia {
  color:#e6e3e3;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

#nome {
  color:#e6e3e3;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}


FONT {
  font-family: 'Roboto', sans-serif;
}

#form {
  display: flex;
  flex-direction:column;
}

#contato {
    margin: auto 60px;
    font-family: 'Roboto', sans-serif;
    color: #e6e3e3;
    text-decoration-color: white;
}

p a {
    color: #e6e3e3;
}



    



    





